<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>{{#if title}}{{title}} - RawGit{{else}}RawGit{{/if}}</title>
<meta name="viewport" content="width=device-width">

{{#if includeMetaDescription}}
  <meta name="description" content="RawGit served raw files directly from GitHub with proper Content-Type headers.">
{{/if}}

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:400,700">
<link rel="stylesheet" href="{{{assetUrl "/css/rawgit.css"}}}">
<link rel="icon" href="/img/sushi-icon.png">

<header class="hd">
  <h1 class="title">
    <a href="/"><img class="logo" src="{{{assetUrl "/img/sushi.png"}}}" alt="" role="presentation"></a>
    RawGit
  </h1>

  <nav class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://github.com/rgrove/rawgit/blob/master/FAQ.md">FAQ</a></li>
      <li><a href="https://github.com/rgrove/rawgit">Source</a></li>
    </ul>
  </nav>
</header>

<div class="bd">
  <div class="content">
    {{{body}}}
  </div>
</div>

<footer class="ft">
  <p>
    &copy; 2018 <a href="http://wonko.com/">Ryan Grove</a>.
    Follow <a href="https://twitter.com/rawgit">@rawgit</a> on Twitter for news and status updates.<br>
    <a href="http://thenounproject.com/noun/sushi/#icon-No14497">Sushi icon</a> designed by <a href="http://thenounproject.com/lnakanishi">Linda Yuki Nakanishi</a> from The Noun Project.
  </p>
</footer>

{{#if googleAnalyticsId}}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{googleAnalyticsId}}', 'rawgit.com');
  ga('send', 'pageview');
  </script>
{{/if}}
