<link rel="stylesheet" href="/css/faq.css">

<div class="faq">

<h2 id="who"><a href="#who">Who runs this thing, anyway?</a></h2>

<p>
That'd be me, <a href="http://wonko.com/">Ryan Grove</a>. Hi!
</p>

<h2 id="why"><a href="#why">Why is this necessary? Can't I just load files from GitHub directly?</a></h2>

<p>
When you request a file from <code>raw.githubusercontent.com</code> or <code>gist.githubusercontent.com</code>, GitHub usually serves it (in the case of JavaScript, HTML, CSS, and some other file types) with a <code>Content-Type</code> of <code>text/plain</code>. As a result, most modern browsers won't actually interpret it as JavaScript, HTML, or CSS.
</p>

<p>
They do this because serving raw files from a git repo is relatively inefficient, so they want to discourage people from using their GitHub repos for static file hosting.
</p>

<p>
RawGit acts as a caching proxy, forwarding requests to GitHub, caching the responses either for a short time (in the case of <code>{{config.devDomain}}</code> URLs) or permanently (in the case of <code>{{config.cdnDomain}}</code> URLs), and relaying them to your browser with the correct <code>Content-Type</code> headers.
</p>

<p>
The caching layer ensures that minimal load is placed on GitHub, and you get quick and easy static file hosting right from a GitHub repo. Everyone's happy!
</p>

<h2 id="associated-with-github"><a href="#associated-with-github">Is RawGit associated with GitHub?</a></h2>

<p>
Nope, RawGit is not associated with GitHub, Inc. in any way.
</p>

<h2 id="diff-between-rawgit-and-cdn"><a href="#diff-between-rawgit-and-cdn">What's the difference between {{config.devDomain}} and {{config.cdnDomain}} URLs?</a></h2>

<p>
When you make a request to a <code>{{config.devDomain}}</code> URL, the RawGit server loads the requested file from GitHub, serves it to your browser with the correct <code>Content-Type</code> header, and caches it for a very short time. If you push new changes to GitHub, you can reload and see them within a few minutes, which makes <code>{{config.devDomain}}</code> useful for low-traffic testing or sharing demos during development.
</p>

<p>
Requests to <code>{{config.cdnDomain}}</code> are routed through <a href="http://www.maxcdn.com/">MaxCDN</a>'s super fast content delivery network, and are cached <strong>permanently</strong> the first time they're loaded. This results in the best performance and reduces load on RawGit and on GitHub, but it means that reloading won't fetch new changes from GitHub.
</p>

<p>
During development, when freshness is more important than performance, use <code>{{config.devDomain}}</code>. For anything you share with the public or push to production, use <code>{{config.cdnDomain}}</code>.
</p>

<h2 id="rawgit-com-in-production"><a href="#rawgit-com-in-production">Can I use a {{config.devDomain}} URL on a production website?</a></h2>

<p>
No. Please use <code>{{config.cdnDomain}}</code> for anything that might result in heavy traffic. Only use <code>{{config.devDomain}}</code> URLs for low-traffic testing and sharing temporary examples or demos during development. When people misuse <code>{{config.devDomain}}</code>, it costs me money. Please don't be a jerk.
</p>

<h2 id="what-happens-to-jerks"><a href="#what-happens-to-jerks">What will happen if I send large amounts of traffic to a {{config.devDomain}} URL?</a></h2>

<p>
Bad things.
</p>

<p>
First, requests will be throttled and your site will load very slowly. If the traffic continues even after automatic throttling is triggered, {{config.devDomain}} will start serving <a href="/js/evil.js">evil.js</a> and <a href="/css/evil.css">evil.css</a> instead of requested JS and CSS files. Visitors to your site may see an annoying alert warning against using {{config.devDomain}} in production, and your JS and CSS may start doing very strange things.
</p>

<p>
This is designed to get your attention and encourage you to stop being a jerk. Only use <code>{{config.cdnDomain}}</code> in production; never <code>{{config.devDomain}}</code>.
</p>

<h2 id="how-do-i-know-if-im-a-jerk"><a href="#how-do-i-know-if-im-a-jerk">How can I tell if I'm sending too much traffic to {{config.devDomain}}?</a></h2>

<p>
If you have to ask this question, you're probably sending too much traffic. Are you on the <a href="/stats#files">Top Files</a> or <a href="/stats#referrers">Top Referrers</a> lists? If so, you may want to back off a bit or use <code>{{config.cdnDomain}}</code> instead.
</p>

<h2 id="no-uptime-guarantee"><a href="#no-uptime-guarantee">I need guaranteed 100% uptime. Should I use {{config.cdnDomain}}?</a></h2>

<p>
Probably not. Sorry.
</p>

<p>
RawGit is a free service and cannot provide any uptime guarantees, even for <code>{{config.cdnDomain}}</code>. While I (Ryan) do my best to keep things running, things sometimes go wrong. Sometimes there are network or provider issues outside my control, and sometimes I break things (although I try really hard not to).
</p>

<p>
Since I run RawGit with my own money (and with CDN hosting generously donated by <a href="http://www.maxcdn.com/">MaxCDN</a>), it has a budget that's probably less than you pay for lattes in a given month. My goal is to help other open source developers get their projects up and running, but if you need to serve files that are crucial to your business, you should probably pay for a host with well-funded infrastructure and uptime guarantees.
</p>

<h2 id="beta"><a href="#beta">What does it mean that {{config.cdnDomain}} is in beta?</a></h2>

<p>
It's a new feature, and there may still be some kinks. I'm keeping a close eye on traffic patterns to make sure the CDN sufficiently shields RawGit's origin server and GitHub from load; if there end up being unexpected problems, I may need to make adjustments to how the feature works.
</p>

<h2 id="feedback"><a href="#feedback">I have feedback or want to report a bug! Who can I contact?</a></h2>

<p>
To report a critical issue like RawGit being broken or to share general feedback, send a tweet to <a href="https://twitter.com/rawgit">@rawgit</a> or <a href="https://twitter.com/yaypie">@yaypie</a>. To report a non-critical bug, <a href="https://github.com/rgrove/rawgit/issues">file an issue</a>.
</p>

</div>
