<link rel="stylesheet" href="/css/faq.css">

<div class="faq">

<div id="who" class="question">
    <h2><a href="#who">Who runs this thing?</a></h2>

    <p>
    Hi, I'm <a href="http://wonko.com/">Ryan Grove</a>.
    </p>
</div>

<div id="why" class="question">
    <h2><a href="#why">Why is this necessary? Can't I just load files from GitHub directly?</a></h2>

    <p>
    When you request a file from <code>raw.githubusercontent.com</code> or <code>gist.githubusercontent.com</code>, GitHub usually serves it (in the case of JavaScript, HTML, CSS, and some other file types) with a <code>Content-Type</code> of <code>text/plain</code>. As a result, most modern browsers won't actually interpret it as JavaScript, HTML, or CSS.
    </p>

    <p>
    They do this because serving raw files from a git repo is relatively inefficient, so they want to discourage people from using their GitHub repos for static file hosting.
    </p>

    <p>
    RawGit acts as a caching proxy, forwarding requests to GitHub, caching the responses either for a short time (in the case of <code>{{config.devDomain}}</code> URLs) or permanently (in the case of <code>{{config.cdnDomain}}</code> URLs), and relaying them to your browser with the correct <code>Content-Type</code> headers.
    </p>

    <p>
    The caching layer ensures that minimal load is placed on GitHub, and you get quick and easy static file hosting right from a GitHub repo. Everyone's happy!
    </p>
</div>

<div id="associated-with-github" class="question">
    <h2><a href="#associated-with-github">Is RawGit associated with GitHub?</a></h2>

    <p>
    No, RawGit is not associated with GitHub, Inc. in any way. Please don't contact GitHub asking for help with RawGit. They'll give you a weird look and back away slowly.
    </p>
</div>

<div id="diff-between-rawgit-and-cdn" class="question">
    <h2><a href="#diff-between-rawgit-and-cdn">What's the difference between {{config.devDomain}} and {{config.cdnDomain}} URLs?</a></h2>

    <p>
    When you make a request to a <code>{{config.devDomain}}</code> URL, the RawGit server loads the requested file from GitHub, serves it to your browser with the correct <code>Content-Type</code> header, and caches it for a short time. If you push new changes to GitHub, you can reload and see them within a few minutes, which makes <code>{{config.devDomain}}</code> useful for low-traffic testing or sharing demos during development.
    </p>

    <p>
    Requests to <code>{{config.cdnDomain}}</code> are routed through <a href="http://www.maxcdn.com/">MaxCDN</a>'s super fast content delivery network, and are cached <strong>permanently</strong> the first time they're loaded. This results in the best performance and reduces load on RawGit and on GitHub, but it means that reloading won't fetch new changes from GitHub.
    </p>

    <p>
    During development, when traffic is low and freshness is more important than performance, use <code>{{config.devDomain}}</code>. For anything you share with the public or push to production, use <code>{{config.cdnDomain}}</code>.
    </p>
</div>

<div id="rawgit-com-in-production" class="question">
    <h2><a href="#rawgit-com-in-production">Can I use a {{config.devDomain}} URL on a production website?</a></h2>

    <p>
    No. Please use <code>{{config.cdnDomain}}</code> for anything that might result in heavy traffic. Only use <code>{{config.devDomain}}</code> URLs for low-traffic testing and sharing temporary examples or demos during development. When people misuse <code>{{config.devDomain}}</code>, it costs me money. Please don't be a jerk.
    </p>
</div>

<div id="what-happens-to-jerks" class="question">
    <h2><a href="#what-happens-to-jerks">What will happen if I send large amounts of traffic to a {{config.devDomain}} URL?</a></h2>

    <p>
    First, requests will be throttled and your site will start to load very slowly. If the traffic continues even after automatic throttling is triggered, {{config.devDomain}} will start serving an error page instead of the requested file. If traffic reaches truly excessive levels, then an error message may be displayed directly on your website asking your users to notify you of the problem.
    </p>

    <p>
    This is designed to get your attention as quickly as possible before the excessive traffic  becomes a major problem for RawGit and starts costing me large amounts of money or impacting other users of this service.
    </p>

    <p>
    Remember, only use <code>{{config.cdnDomain}}</code> in production; never <code>{{config.devDomain}}</code>.
    </p>
</div>

<div id="how-do-i-know-if-im-a-jerk" class="question">
    <h2><a href="#how-do-i-know-if-im-a-jerk">How can I tell if I'm sending too much traffic to {{config.devDomain}}?</a></h2>

    <p>
    If you have to ask this question, you're probably sending too much traffic. Are you on the <a href="/stats#files">Top Files</a> or <a href="/stats#referrers">Top Referrers</a> lists? If so, you may want to back off a bit or use <code>{{config.cdnDomain}}</code> instead.
    </p>
</div>

<div id="cdn-ttl" class="question">
    <h2><a href="#cdn-ttl">How long does the CDN cache files? How can I make it refresh my file?</a></h2>

    <p>
    The CDN caches files permanently based on their path. It ignores query strings. This is done both to improve performance and to make it possible for the CDN to handle massive amounts of traffic without causing excessive load on RawGit or GitHub's servers.
    </p>

    <p>
    To ensure that the CDN always serves the version of the file you want, use a git tag or commit ref in the file's path instead of a branch name, and update the URL if you push a new version of the file.
    </p>

    <p>
    So, instead of a URL like <code>https://{{config.cdnDomain}}/user/repo/branch/file</code>, use a URL like <code>https://{{config.cdnDomain}}/user/repo/tag/file</code> or <code>https://{{config.cdnDomain}}/user/repo/commit/file</code>.
    </p>
</div>

<div id="no-uptime-guarantee" class="question">
    <h2><a href="#no-uptime-guarantee">I need guaranteed 100% uptime. Should I use {{config.cdnDomain}}?</a></h2>

    <p>
    Probably not.
    </p>

    <p>
    RawGit is a free service and cannot provide any uptime or support guarantees, even for <code>{{config.cdnDomain}}</code>. While I do my best to keep things running, things sometimes go wrong. Sometimes there are network or provider issues outside my control, sometimes abusive traffic temporarily affects response times, and sometimes I break things (although I try really hard not to).
    </p>

    <p>
    Since I run RawGit in my spare time, with my own money and with CDN hosting generously donated by <a href="http://www.maxcdn.com/">MaxCDN</a>, it has a budget that's probably less than you pay for coffee in a given month. My goal is to help other open source developers get their projects up and running, but if you need to serve files that are crucial to your business, you should probably pay for a host with well-funded infrastructure and uptime guarantees.
    </p>
</div>

<div id="donations" class="question">
    <h2><a href="#donations">Can I donate money/Bitcoin/pie to help you out?</a></h2>

    <p>
    It's super nice of you to offer, but I don't need any donations at this time. RawGit's server costs are minimal, and the lovely people at <a href="http://www.maxcdn.com/">MaxCDN</a> provide RawGit's CDN service free of charge. Thank you though!
    </p>
</div>

<div id="feedback" class="question">
    <h2><a href="#feedback">I have feedback or want to report a bug! Who can I contact?</a></h2>

    <p>
    To report a critical issue like RawGit being broken or to share general feedback, send a tweet to <a href="https://twitter.com/rawgit">@rawgit</a> or <a href="https://twitter.com/yaypie">@yaypie</a>. I try to respond quickly when I'm awake and near a computer, but sometimes I do have to sleep. To report a non-critical bug, please <a href="https://github.com/rgrove/rawgit/issues">file an issue</a>.
    </p>

    <p>
    To report a security concern, please email <strong>security@rawgit.com</strong> privately. Feel free to encrypt your email using <a href="https://rawgit.com/public-key.txt">my public key</a> if you're paranoid. Expect a response within 48 hours.
    </p>
</div>

</div>
